################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication1/.vs/config
/WebApplication1/.vs/WebApplication1/v15
